* {
    margin: 0;
    padding: 0;
}

.pfp {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.sidebar {
    background-color: #520023;
    min-height: 100vh;
    margin-left: 0;
    padding-left: 0;
}

h1 {
    color: #FFEBF3;
}

h2 {
    color: #FFEBF3;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

ul {
    text-decoration: none;
    color: #FFEBF3;
    list-style-type: none;
    padding-left: 0;
}

.card {
    border-color: #ff99c5;
    margin-bottom: 0.6rem;
    min-height: 13rem;
}

.card-body {
    background-color: #ff99c5;
}

.card-title {
    color: #cc0058;
}

.card-text {
    color:#7a0035;
}

.btn {
    background-color: #cc0058;
    color: #ffebf3;
    font-weight: 5000;
    margin-top: 0.7rem;
}

.card > .btn {
    align-items: flex-end;
}

.btn:hover {
    background-color: #FFEBF3;
    color: #520023;
}


.redes-sociales > a  {
    text-decoration: none;
}

.icon-redes-sociales {
    text-decoration: none;
    color:#FFEBF3;
}

.contacto > ul > li {
    margin-left: 0;
}

.contacto > ul > li > a {
    text-decoration: none;
    color: white;
}

.contenido-sidebar {
    padding-left: 0.3rem;
}

.trabajos-recientes {
    background-color: #7a0035;
    min-height: 100vh;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}